.admin-dashboard {
  margin-left: 2.5%;
  margin-right: 2.5%;
  @media (min-width: $md) {
    margin-left: 10%;
    margin-right: 10%;
  }
  &__title {
    border-bottom: 1px solid $medium-grey;
    color: $middle-font-color;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
  }
  &__users {
    @media (min-width: $md) {
      height: 40rem;
    }
    margin-bottom: 1rem;
    overflow-y: hidden;
  }
}
