.explore-task {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  &__control {
    margin-bottom: 1rem;
    margin-left: 0.25rem;
    &--shrinked {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0;
    }
  }
  &__list {
    &--shrinked {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      z-index: 3000;
    }
  }
}
