.card-container {
  margin-left: 2.5%;
  margin-right: 2.5%;
  @media (min-width: $md) {
    margin-left: 10%;
    margin-right: 10%;
  }
  &--border {
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 95%;
    @media (min-width: $mini) {
      width: 65%;
    }
    @media (min-width: $md) {
      width: 92.5%;
    }
    // padding: 2rem;
  }
}
