.stream {
  height: 100%;
  width: 100%;
  position: relative;
  &__element {
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: $opacity-transition;
    width: 100%;
    &--selected {
      opacity: 1;
      transition: $opacity-transition;
    }
  }
}
